# Homework 2

Run the code cell below before starting.

In [29]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [30]:
search_df = pd.read_json('search_sample.txt', lines=True)
search_df.head()

,timestamp,requestid,appid,url,engineReqRespTime,elsReqRespTimeSm,totalresults,smresults,level
0,2021-07-11 14:53:10.788,c65647a8-bb47-45bd-8ffe-628fd7092c95,its,/ibmcom/appid/its/responseFormat/json?nr=5&fr=...,320.031425,188.532093,120,0,info
1,2021-07-11 14:53:10.967,3826f01e-0548-411d-9d29-5b3735a4e1b5,dblue,/ibmcom/appid/dblue/responseFormat/xml?&query=...,47.359328,NaN,0,0,info
2,2021-07-11 14:53:11.247,d05b7ac0-897b-4a54-9947-397f75554e15,its,/ibmcom/appid/its/responseFormat/json?nr=5&fr=...,171.039145,158.864793,0,0,info
3,2021-07-11 14:53:11.647,a2d31daf-31be-437d-b587-d7fa31aed884,dw,/ibmcom/appid/dw/responseFormat/json?query=acl...,64.383266,NaN,91,0,info
4,2021-07-11 14:53:11.915,592f79eb-90f8-4647-8178-b95d360bd23e,its,/ibmcom/appid/its/responseFormat/json?nr=20&fr...,184.999536,179.900902,9,1,info

### Part 1

Print out the number of queries in the dataframe.
Hint: this will be the same as printing out the number of rows.

In [31]:
search_df.shape[0]

19999

### Part 2

Using the 'appid' column print out how many queries were made on developer.ibm.com.
The value for appid will be 'dw'

In [32]:
developer_search_df = search_df[search_df['appid'] == 'dw']

### Part 3

Print out the number of rows in the developer_search_df

In [33]:
developer_search_df.shape[0]

525

In [34]:
percent = (developer_search_df.shape[0]/search_df.shape[0]) * 100
print('Percent: {0:.2f}'.format(percent))

Percent: 2.63